{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- about.html content starts here -->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1 class="text-center">We are allways happy to see You!</h1>
            <hr>
            <h2 class="text-center">Visit us: Scheffachberg 5A </h2>
            <hr>
            <h2 class="text-center">6235 Reith Im Alpbachtal</h2> 
            <hr>
            <h2 class="text-center">Call us: 0664321123</h2>
            <hr>
            <h2 class="text-center">Email us: ourrestaurant@gmail.com</h2>   
            <hr>
            <p class="text-center">Thank You for choosing our family restaurant!</p>    
        </div>
    </div>
</div>

<!-- about.html content ends here -->
{% endblock %}
