{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- guest_reservation.html content starts here -->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="guest_reservation mt-5 mx-5">
                <h1 class="text-center">Make a Reservation</h1>
                <hr>
                <div class="d-flex justify-content-center">
                    <form method="post" class="text-center col-md-8 col-lg-8 col-xl-7"
                        action="{% url 'guest_reservation' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase">Reserve</button>
                    </form>
                </div>
                <p class="text-center">Thank You for choosing our family restaurant!</p>
                {% if reservation_success %}
                <!-- Success Modal -->
                <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="successModalLabel">Your reservation has been successful!
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <h6>Thank you for making a reservation. We look forward to serving you!</h6>
                                <p>Your reservation is for: {{ reservation_date}} at {{ reservation_time }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-pimary" data-bs-dismiss="modal">Colse</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- target the Modal to show automaticaly -->
{% if reservation_success %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var successModal = new bootstrap.Modal(document.getElementById('successModal'));
        successModal.show();

        var modalElement = document.getElementById('successModal');
        modalElement.addEventListener('hidden.bs.modal', function() {
            window.location.href = '{% url "index" %}';
        });
    });
</script> 
{% endif %}

<!-- guest_reservation.html content ends here -->
{% endblock %}