{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Button link Menu -->
            <div class="d-grid gap-2 mb-4">
                <a href="{% url 'menu_list'  %}" class="btn btn-primary btn-lg text-uppercase">Menu</a>
            </div>
            {% if user.is_authenticated %}
            <!-- Button link Reservation -->
            <div class="d-grid gap-2 mb-4">
                <a href="{% url 'user_reservation' %}" class="btn btn-primary btn-lg text-uppercase">Make a Reservation</a>
            </div>
            <!-- Button link View upcoming reservations -->
            <div class="d-grid gap-2 mb-4">
                <a href="{% url 'user_reservations' %}" class="btn btn-primary btn-lg text-uppercase">Upcoming Reservations</a>
            </div>
            <div class="d-grid gap-2 mb-4 ">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                </form>
                <a href="{% url 'logout' %}" class="btn btn-primary btn-lg text-uppercase">Log Out</a>
            </div>  
            {% else %}
            <!-- Button link Reservation -->
            <div class="d-grid gap-2 mb-4">
                <a href="{% url 'reservations' %}" class="btn btn-primary btn-lg text-uppercase">Make a Reservation</a>
            </div>            
            {% endif %}
             <!-- Button link About Our Family -->
            <div class="d-grid gap-2 mb-4">
                <a href="{% url 'about' %}" class="btn btn-primary btn-lg text-uppercase">About Our Family</a>
            </div>
             <!-- Button link Location -->
             <div class="d-grid gap-2 mb-4">
                <a href="{% url 'contact' %}" class="btn btn-primary btn-lg text-uppercase">Contact</a>
            </div>
            <!-- Opening Hours Section -->
            <div class="opening-hours mt-5">
                <h2 class="text-center">Opening Hours</h2>
                <ul class="list-unstyled opening-hours-list">
                    {% for time in opening_hours %}
                    <li>
                        <strong>{{ time.get_day_of_week_display }}:</strong> {{ time.open_time|date:"H:i" }} : {{ time.close_time|date:"H:i" }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}
