{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="menu mt-5 mx-5">
    <h3 class="text-center">Menu</h3>
    {% for category, items in sort_menu_items.items %}
    <h4>{{ category|title }}</h4>
    <ul class="list-unstyled menu-list">
        {% for item in items %}
        <li>
            <h5>{{ item.name|safe }}</h5>{{ item.description|safe }} {{ item.price }}€
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

<!-- menu_list.html content ends here -->
{% endblock %}
