{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="menu mt-5 mx-5">
                <h1 class="text-center">Menu</h1>
                <hr>
                {% for category, items in sort_menu_items.items %}
                <h3>{{ category|title }}</h3>
                <hr>
                <ul class="list-unstyled menu-list">
                    {% for item in items %}
                    <li>
                        <h4>{{ item.name|safe }}</h4>{{ item.description|safe }} {{ item.price }}€
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- menu_list.html content ends here -->
{% endblock %}