{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- user_reservation.html content starts here -->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="user_reservation mt-5 mx-5">
                <h1 class="text-center">Make a Reservation</h1>
                <hr>
                <form method="post" class="text-center" action="{% url 'user_reservation' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Reserve</button>
                </form>
                <!-- Success Modal -->
                 <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="successModalLabel">Your reservation has been successful!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h6>Thank you for making a reservation. We look forward to serving you!</h6>
                                {% if success %}
                                <p>Your reservation is for: {{ reservation_date}} at {{ reservation_time }}</p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-pimary" data-bs-dismiss="modal">Colse</button>
                            </div>
                        </div>
                    </div>
                 </div>
                <p class="text-center">Thank You for choosing out family restaurant!</p>
            </div>
        </div>
    </div>
</div>
<!-- target the Modal to show automaticaly -->
{% if success %}
<script>
    var myModal = new bootstrap.Modal(document.getElementById('successModal'));
    myModal.show();
</script>
{% endif %}

<!-- user_reservation.html content ends here -->
{% endblock %}
