{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!-- user_reservations.html content starts here -->

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="user_reservation mt-5 mx-5">
                <h1 class="text-center">{{request.user}}, Your upcoming reservations:</h1>
                <hr>
                <div class="text-center">
                    {% for reservation in reservations %}
                    <div class="list-group-item justify-content-center">
                        <h5>{{ reservation.date }} at {{ reservation.time }}</h5>
                        <p>Table {{ reservation.table.table_number }} (Capacity {{ reservation.table.capacity }})</p>
                        <p>Comment: {{ reservation.comment }}</p>
                        <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-secondary">Edit</a>
                        <button class="btn btn-danger cancel-btn"
                        data-reservation-id="{{ reservation.id }}"
                        data-reservation-date="{{ reservation.date|date:'Y.m.d' }}"
                        data-reservation-time="{{ reservation.time|time:'H:i' }}">
                        Cancel
                        </button>
                    </div>
                    <hr>
                    {% empty %}
                    <p>No upcoming reservations.</p>
                    {% endfor %}
                </div>
                <!-- Option to make a new reservation -->
                <div class="d-grid gap-2 mb-4">
                    <a href="{% url 'user_reservation' %}" class="btn btn-primary btn-lg text-uppercase">Make a New Reservation</a>
                </div>
                <div class="d-grid gap-2 mb-4 ">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                    </form>
                    <a href="{% url 'logout' %}" class="btn btn-primary btn-lg text-uppercase" id="logoutLink">Log Out</a>
                </div>
                <p class="text-center">Thank You for choosing our family restaurant!</p>
                {% if reservation_success %}
                <!-- Success Modal -->
                <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="successModalLabel">Your reservation has been successful!
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <h6>Thank you for making a reservation. We look forward to serving you!</h6>
                                <p>Your reservation is for: {{ reservation_date}} at {{ reservation_time }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-pimary" data-bs-dismiss="modal">Colse</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if edit_success %}
                <!-- Edit Success Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Your reservation has been updated!
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h6>Thank you for making a reservation. We look forward to serving you!</h6>
                                <p>Your edited reservation is for: {{ reservation_date}} at {{ reservation_time }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-pimary" data-bs-dismiss="modal">Colse</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Cancel Confirmation Modal -->
                <div class="modal fade" id="cancelConfirmationModal" tabindex="-1" aria-labelledby="cancelConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelConfirmationModalLabel">Please, Confirm Cancelation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to cancel your reservation for <strong id="reservationDate"></strong> at <strong id="reservationTime"></strong>?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keep Reservation</button>
                                <a href="#" id="confirmCancelLink" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if cancel_warning %}
                <!-- Cancel Success Modal -->
                <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="cancelModalLabel">Your reservation has been canceled!
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Your reservation was successfully canceled.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-pimary" data-bs-dismiss="modal">Colse</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- target the Modal to show automaticaly -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% if reservation_success %}
        var successModal = new bootstrap.Modal(document.getElementById('successModal'));
        successModal.show();
        {% endif %}

        {% if edit_success %}
        var editModal = new bootstrap.Modal(document.getElementById('editModal'));
        editModal.show();
        {% endif %}

        {% if cancel_warning %}
        var cancelModal = new bootstrap.Modal(document.getElementById('cancelModal'));
        cancelModal.show();
        {% endif %}
    });
</script>

<!-- user_reservations.html content ends here -->
{% endblock %}